* {margin: 0;

}
body{
    font-family: Delius;
    position: sticky;
}
header{
      background-color: #ff8c00;
            padding: 1em;
}
.section-header{
             display: flex;
            justify-content: end;
             gap: 20px;
}
.Telephone{
            color: #8dd7e5;
}
.aide{
            color:#fff;
}
ul{
            list-style-type: none;
            display:flex;
            gap: 20;
            justify-content: space-around;
            padding: 5rem;

}
.logo_performics{
            margin-top: -60px;
}
ul li a{
            text-decoration: none;
            outline: none;
            color: #333;
            font-weight: bold;
            line-height: 1.5em;
}
ul li a:hover{
            color: #ff8c00;
}
.baniere{
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(224, 119, 0, 0.3)),url(../image/photo_accueil.jpeg);
    background-repeat: no-repeat ;
    height: 150vh;
 background-size: cover;
   
}
.logo-baniere{
    padding: 15%;
    text-align: center;

}
.txt-titre{
    text-transform: uppercase;
    margin-left: 20%;
    font-size: 3em;
    font-weight: bold;

}
.un{
    margin-left: 23%;
}
.deux{
    margin-left: 25%;
}
.txt-blanc{
    color: #fff;
}
.txt-orange{
    color: #ff8c00;
}
.btn-baniere{
    margin: 0 auto;
    width: 27%;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    background: #ff8c00;
    color: #fff;
    margin-top: 10%;
}
.block-titre{
    margin-bottom: 10%;
}
